.homepage {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.homepage-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.homepage-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.movie-section {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.explore-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.explore-button:hover {
  background-color: #0056b3;
}
